body,html {
  margin: 0;
  padding: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #ffffff;
}

.navbar ul { 
  background: #FF1801;
  margin: 10px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100vw;
  text-align: center;
}
.navbar li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.navbar a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
